
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form action="/hjg/UserAdd" method="post">
            姓名：<input type="text" name="Name" value="" /><br />
            性别：
             <select name="Sex">
                <option>男</option>
                <option>女</option>
            </select><br />
             年龄：<input type="text" name="Age" value="" /><br />

            <input type="submit" value="注册" />
        </form>
</div>
</body>
</html>
