@{
    ViewBag.Title = "Index";
    if (Session["Identity"] != null)
    {
        Layout = "~/Views/Shared/_User.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var list = ViewBag.list as List<BookManager.Models.Book>;
}
<h2>Home/Index</h2>