
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>注册借阅卡</h2>
<form action="/Manager/Add" method="post">
    <div class="form-group">
        <label>姓名:</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>
    <div class="form-group">
        <label>性别:</label>
        <select class="form-control" id="Sex" name="Sex">
            <option value="0">女</option>
            <option value="1">男</option>
            <option value="2">保密</option>
        </select>
    </div>
    <div class="form-group">
        <label>密码:</label>
        <input type="password" class="form-control" id="Password" name="Password">
    </div>
    <div class="form-group">
        <label>确认密码:</label>
        <input type="password" class="form-control" id="PWD">
    </div>
    <div class="form-group">
        <label>年龄:</label>
        <input type="number" class="form-control" id="Age" name="Age">
    </div>
    <div class="form-group">
        <label>联系方式:</label>
        <input type="tel" class="form-control" id="Phone" name="Phone">
    </div>
    <button id="submit" class="btn btn-primary">注册</button>
</form>
@section scripts{
    <script>
        $("#submit").click(function () {
            if ($("#Password").val() == $("#PWD").val()) {
                layer.load(2, { shade: false });
                var data = {
                    Name: $("#Name").val(),
                    Age: $("#Age").val(),
                    Sex: $("#Sex").val(),
                    Password: $("#Password").val(),
                    Phone: $("#Phone").val(),
                };
                $.post("/Home/Register", data, function (res) {
                    setTimeout(function () {
                        layer.closeAll('loading');
                    }, 1000);
                    if (res == "success") {
                        layer.alert("注册成功！");
                        setTimeout(function () {
                            window.location.href = "/Home/Index";
                        }, 1500);
                    } else {
                        layer.alert(res);
                    };
                });
            } else {
                layer.alert("两次输入的密码不一致");
            }
            return false;
        });
    </script>
}