@model IEnumerable<BookManager.Models.Category>

@{
    ViewBag.Title = "CIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.pageCount = Convert.ToInt32(ViewBag.pageCount);
    ViewBag.page = Convert.ToInt32(ViewBag.page);
}

<h2>CIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            分类
        </th>
        <th> <a href="/lbz/CAdd"> 添加 </a></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="#" onclick="artdel(@item.ID)">删除</a>
                <a href="/lbz/CEidt?ID=@item.ID"> 修改 </a>

            </td>
        </tr>
    }

</table>





<div class="bd-example">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.page == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">首页</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/lbz/CIndex?page=1">首页</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/lbz/CIndex?page=@(ViewBag.page - 1)">上页</a>
                </li>
            }
            <li class="page-item"><a class="page-link" href="/Home/Index?page=@(ViewBag.page)">@(ViewBag.page)</a></li>
            @if (ViewBag.page == ViewBag.pageCount)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">尾页</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/lbz/CIndex?page=@(ViewBag.page + 1)">下页</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/lbz/CIndex?page=@(ViewBag.pageCount)">尾页</a>
                </li>
            }
            </ul>
            <div class="col-3 btn-group">
                <input type="number" id="PageJ" class="form-control col-6" placeholder="请输入页数">
                <a href="#junpPage" id="junpPage" class="btn btn-info col-4" role="button">确定</a>
            </div>
        
    </nav>
</div>



@section scripts{



    <script>
        function artdel(ID) {
            layer.confirm('确认删除该书籍分类吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {

                window.location = "/lbz/Cdelete?ID=" + ID

            }, function () {
            });
        }

        $("#junpPage").click(function () {
            layer.load(2, { shade: false });
            setTimeout(function () {
                window.location.href = "/lbz/CIndex?page=" + $("#PageJ").val();
            }, 350);
            return false;
        });

    </script>


}
