
@{
    ViewBag.Title = "Returnlogin";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Returnlogin</h2>
<div>
    <form action="/lbz/returnlogin" method="post">
        请输入读者id进行查询<br />
        <input type="number" name="id"/><br />
        <input type="submit" value="查询"/>
    </form>
</div>

