@model IEnumerable<BookManager.Models.Category>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Manager.cshtml";
}

<h2>分类管理</h2>
<a href="/Manager/AddCategory" class="btn btn-info" role="button">添加分类</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>编号</th>
            <th>分类名</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>
                    <div class="btn-group">
                        <a href="/Manager/EditCategory?ID=@item.ID" class="btn btn-warning" role="button">编辑</a>
                        <a href="#Delete" id="Delete" onclick="Delete(@item.ID)" class="btn btn-danger" role="button">删除</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="bd-example">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.page == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">首页</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Manager/Category?page=1">首页</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Manager/Category?page=@(ViewBag.page - 1)">上页</a>
                </li>
            }
            <li class="page-item"><a class="page-link" href="/Manager/Category?page=@(ViewBag.page)">@(ViewBag.page)</a></li>
            @if (ViewBag.page == ViewBag.pageCount)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">尾页</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Manager/Category?page=@(ViewBag.page + 1)">下页</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Manager/Category?page=@(ViewBag.pageCount)">尾页</a>
                </li>
            }
            <div class="col-3 btn-group">
                <input type="number" id="PageJ" class="form-control col-6" placeholder="请输入页数">
                <a href="#junpPage" id="junpPage" class="btn btn-info col-4" role="button">确定</a>
            </div>
        </ul>
    </nav>
</div>
@section scripts{
    <script>
        $("#junpPage").click(function () {
            layer.load(2, { shade: false });
            setTimeout(function () {
                window.location.href = "/Manager/Category?page=" + $("#PageJ").val();
            }, 350);
            return false;
        });
    </script>
}