
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>登录</h2>
<form>
    <div class="form-group">
        <label>账号:</label>
        <input type="text" class="form-control" id="Username" name="Username" value="">
    </div>
    <div class="form-group">
        <label>密码:</label>
        <input type="password" class="form-control" id="Password" name="Password" value="">
    </div>
    <div class="btn-group">
        <button id="submit" class="btn btn-primary">登录</button>
        <a href="/Home/Forget" class="btn btn-info">忘记密码</a>
    </div>
</form>
@section scripts{
    <script>
        $("#submit").click(function () {
            layer.load(2, { shade: false });
            var data = {
                Username: $("#Username").val(),
                Password: $("#Password").val(),
            };
            $.post("/Manager/Sigin", data, function (res) {
                setTimeout(function () {
                    layer.closeAll('loading');
                }, 1000);
                if (res == "manager") {
                    layer.alert("尊敬的管理员，欢迎您！登录成功！");
                    setTimeout(function () {
                        window.location.href = "/Manager/Index";
                    }, 1500);
                } else if (res == "user") {
                    layer.alert("登录成功！");
                    setTimeout(function () {
                        window.location.href = "/Home/Index";
                    }, 1500);
                } else {
                    layer.alert(res);
                };
            });
            return false;
        });
    </script>
}