
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Dcj/UserAdd" method="post">
    姓名：<input type="text" name="Name" value="" /><br />
    性别：
    <select name="Sex">
        <option value="0">男</option>
        <option value="1">女</option>
    </select><br />
    年龄：<input type="text" name="Age" value="" /><br />
    电话：<input type="text" name="Phone" value="" /><br /><br />
    <input type="submit" value="添加学生信息" />
</form>