
@{
    ViewBag.Title = "Return";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Return</h2>
<form action="/borrow/Return" method="post">
    读者id：<input type="number" name="CardID" id="CardID"/><br />
    <input type="submit"value="查询"/>
</form>

